label, a, input, button
  outline: none
button
  border: none
  cursor: pointer
.button
  &--red
    padding: 12px 33px
    border-radius: 21.5px
    background-color: $red
    color: $white
    font-weight: bold
    transition: 0.3s
    &:hover
      background-color: darken($red, 20%)